body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    margin: 0;
    padding: 20px;
}

.board-container {
    background-color: #ffaa00;
    padding: 5px;
    display: flex;
    flex-direction: column;
}


.coords-row {
    display: flex;
    font-weight: bold;
    color: #000;
    justify-content: space-around;
    align-items: center;
    font-size: 14px;
    margin-bottom: 5px;
}

.coords-row div {
    width: 50px;
    text-align: center;
}

.empty-corner {
    width: 25px !important;
    margin-right: 5px;
}

.board-grid {
    display: grid;
    grid-template-columns: 25px repeat(8, 50px);
    grid-template-rows: repeat(8, 50px);
    border: 1px solid #000;
}


.square {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.light {
    background-color: #ffffff;
}


.dark {
    background-color: #000000;
}


.coord-col {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: #000;
    font-size: 14px;
}